# node ----私服-----
# 这里源地址是模块安装地址，（模块发布源地址在 package.json 中设置 publishConfig）
# registry=https://repository.inkept.cn/repository/npm_group/
# 发布地址
#   "publishConfig": {
#     "registry": "https://repository.inkept.cn/repository/npm_private/"
#   },

# always-auth=true
# 公共账号
# _auth 生成逻辑 base64("用户名:密码")
# _auth="bnBtX2FkbWluOk1FQktRWGNHS1dkMm43TXRBdFFU"


# node ----scope--- 发布地址
  # "publishConfig": {
    # "access": "public"
  # },